:root {
    --light1: #ffffff;
    --light2: #f5f5f5;
    --gray: #999999;
    --dark1: #000000;
    --dark2: #444444;

    --contactInput: rgba(230, 230, 230, 0.6);
    --contactInputHover: rgba(0, 0, 0, 0.1);
    --contactFocus: rgba(30,85,250,0.47);

    --submitBtn: #2ecc71;
    --submitBtnHover: #27ae60;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-family: 'Ubuntu', Arial, sans-serif;
    scroll-behavior: smooth;
}

/* --------------- <SVG> ------------------ */

svg {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.hexagon {
    animation-name: myAnim;
    animation-iteration-count: infinite;
}

.hex1 { animation-duration: 5s; }
.hex2 { animation-duration: 10s; }
.hex3 { animation-duration: 15s; }
.hex4 { animation-duration: 20s; }

/* --------------- <header> ------------------ */

header {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
    text-align: center;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn-scroll {
    text-decoration: none;
    color: var(--dark1);
    border: 1px solid var(--dark1);
    border-radius: 5px;
    padding: 30px;
    display: block;
    transition: .3s;
}

.btn-scroll:hover {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
}

/* --------------- <nav> ------------------ */

nav {
    height: 10vh;
    width: 100%;
    background-color: var(--dark2);
    font-size: 8vh;
    color: var(--light1);

    top: 0;
    position:-webkit-sticky;
    position: sticky;
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--light1);
}

nav i { transition: .3s; }

nav i:hover {
    color: var(--gray);
    cursor: pointer;
    transform: scale(1.1);
}

/* --------------- <section s1> ------------------ */

.s1 {
    height: fit-content;
    width: 100%;
    background: var(--light1);
    font-size: 2vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s1 .text {
    border: 20px solid var(--light2);
    padding: 30px;
    text-align: justify;
    height: fit-content;
}

.s1 .text p { margin: 10px auto; }

.s1 .pic {
    background-image: url(img3/road2.png); /* Obraz <a href="https://pixabay.com/pl/users/artsybeekids-392631/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5692190"> Venita Oberholster</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5692190"> Pixabay</a> */
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: right top;
    border: 20px solid var(--light2);
    min-height: 50vh;
}

/* --------------- <section s2> ------------------ */

.s2 {
    min-height: 100vh;
    width: 100%;
    background-color: var(--light2);
}

.s2 h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--dark2);
    color: var(--light2);
}

.s2 .s2-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.s2 .s2-container .grid {
    background-color: var(--light1);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh; 
    opacity: .3;
    transition: .3s;
    border: 5px solid var(--light1);
}

.s2 .s2-container .grid1 { background-image: url(img3/HTML5.png); }
/*https://commons.wikimedia.org/wiki/File:HTML5_logo_and_wordmark.svg*/
.s2 .s2-container .grid2 { background-image: url(img3/CSS3.png); }
/*https://commons.wikimedia.org/wiki/File:CSS3_logo_and_wordmark.svg*/
.s2 .s2-container .grid3 { background-image: url(img3/JS.png); }
/*https://commons.wikimedia.org/wiki/File:Unofficial_JavaScript_logo_2.svg*/
.s2 .s2-container .grid4 { background-image: url(img3/Typescript.png); }
/*https://commons.wikimedia.org/wiki/File:Typescript_logo_2020.svg*/
.s2 .s2-container .grid5 { background-image: url(img3/Phaser.png); }
/*https://github.com/photonstorm/phaser/tree/v2.6.2/resources/Phaser%20Logo*/
.s2 .s2-container .grid6 { background-image: url(img3/React.png); }
/*https://commons.wikimedia.org/wiki/File:React-icon.svg*/
.s2 .s2-container .grid7 { background-image: url(img3/Git.png); }
/*https://commons.wikimedia.org/wiki/File:Git-logo.svg*/
.s2 .s2-container .grid8 { background-image: url(img3/Node.png); }
/*https://commons.wikimedia.org/wiki/File:Node.js_logo.svg*/

.s2 .s2-container .grid:hover { opacity: .7; }

/* --------------- <section s3> ------------------ */

.s3 {
    height: 90vh;
    width: 100%;
    position: relative;
    background: var(--light2);
    text-align: center;
}

.s3 .slide-container {
    width: 50%;
    height: 70%;
    position: relative;
    margin: 10px auto 50px auto;
    border-radius: 20px;
    overflow: hidden;
}

.s3 h2 {
    background-color: var(--dark2);
    color: var(--light1);
    padding: 10px;
}

.s3 .slide-container .slides {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    display: flex; /* dzięki temu zdjęcia ułożone są w jednym rzędzie, a nie jedno pod drugim  */
}

.s3 .slide-container .slides .slide {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 { background-image: url(img3/snake.png); }
.slide2 { background-image: url(img3/mario.png); }
.slide3 { background-image: url(img3/memory.png); }
.slide4 { background-image: url(img3/phaser-tut.png); }

.s3 input { display: none; }

.s3 .slide-label, .slide-label::after {
    border-radius: 50%;
    transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.s3 .slide-label {
    border: 1px solid rgba(0, 0, 0, 0.281);
    background: var(--light1);
    box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
    position: absolute;
    bottom: 12%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
}

.slide-label:nth-of-type(1) { left: 28%; }
.slide-label:nth-of-type(2) { left: 41%; }
.slide-label:nth-of-type(3) { left: 54%; }
.slide-label:nth-of-type(4) { left: 67%; }

.slide-label:hover { transform: scale(1.5); }

.slide-label::after {
    content: '';
    display: block;
    border: 1px solid var(--dark1);
    background: var(--dark1);
    width: 20px;
    height: 20px;
    margin: 3px;
    transform: scale(.5, .5);
    box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

input:checked#slide2-radio~div.slide-container>div.slides { left: -100%; }
input:checked#slide3-radio~div.slide-container>div.slides { left: -200%; }
input:checked#slide4-radio~div.slide-container>div.slides { left: -300%; }

input:checked+label.slide-label {
    transform: scale(1.2);
    border: 1px solid rgba(53, 53, 53, 0.308);
}

input:checked+label.slide-label::after {
    transform: scale(1.1, 1.1);
    background: var(--dark1);
}

/* --------------- <section s4> ------------------ */

.s4 {
    min-height: 100vh;
    width: 100%;
    background-image: url(img3/letter.jpg); /* Obraz <a href="https://pixabay.com/pl/users/cdd20-1193381/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5268734"> 愚木混株 Cdd20</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5268734"> Pixabay</a> */
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: repeat;
    position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.contact {
    min-height: fit-content;
    height: 80%;
	width: 80%;
    display: grid;
    grid-template-rows: 1fr 3fr;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--light1);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.2);
}

.side {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    text-align: left;
    font-size: 2vw;
}

.s4 .side ul { list-style-type: none; }

.s4 .side i { font-size: 20vw; }

.main { padding: .4em .6em; }

.s4 h2{
    position: relative;
    font-size: 5vw;
    grid-column: span 2;
	padding: 0 0 10px;
    margin-bottom: 10px;
}

.s4 form div {
    position: relative;
    width: 70%;
}

.s4 form div label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.field {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: var(--contactInput);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover { background-color: var(--contactInputHover); }

.field:focus {
    border: 2px solid var(--contactFocus);
    background-color: var(--light1);
}

.field:focus + label {
    visibility: visible;
    background-color: var(--contactFocus);
    font-size: 1rem;
    color: var(--light1);
}

.submit-btn {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--submitBtn);
	color: var(--light1);
	font-size: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{ background-color: var(--submitBtnHover); }

/* ------------------- <footer> -------------------------*/

footer {
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    background: var(--light1);
    text-align: center;
    position: relative;
}

/*------------------- @media queries -------------------*/

@media (max-width: 1599px) {
    .s2 .s2-container { grid-template-columns: repeat(3, 1fr); }
    .s2 .s2-container .grid8 { grid-column: span 2; }
}

@media (max-width: 768px) {
    .s1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        font-size: 4vw;
    }
    .s1 .pic { background-size: cover; }
    .s2 .s2-container { grid-template-columns: repeat(2, 1fr); }
    .s2 .s2-container .grid { opacity: .7; }
    .s2 .s2-container .grid8 { grid-column: span 1; }
    .s3 .slide-container {
        width: 90%;
        height: 70%;
    }
    .s4 .contact { width: 90%; }
    .s4 .contact .field{ font-size: 1rem; }
    .s4 .contact .side { font-size: 4vw; }
    .s4 .contact .side i { font-size: 30vw; }
    .s4 h2 { font-size: 8vw; }
    .s4 form div { width: 90%; }
}

@media only screen and (orientation: landscape) and (max-height: 600px) {
    .s3 .slide-label { left: 10%; }
    
    .s3 .slide-label:nth-of-type(1) { bottom: 29%; }
    .s3 .slide-label:nth-of-type(2) { bottom: 42%; }
    .s3 .slide-label:nth-of-type(3) { bottom: 55%; }
    .s3 .slide-label:nth-of-type(4) { bottom: 68%; }
  }

/*--------------------- @keyframes --------------*/

@keyframes myAnim {
    0% { fill: var(--light1); }
    50% { fill: var(--gray); }
    100% { fill: var(--light1); }
}